.gallery {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(20, 10, 10);
}
header {
  text-align: center;
  background-color: rgb(20, 10, 10);
  padding: 10px;
  color: white;
}
.box {
  width: 250px;
  height: 200px;
  margin: 5px;
  border: 1px solid yellow;
  position: relative;
}

.tooltip {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
}
.box:hover .tooltip {
  display: block;
  background-color: white;
  padding: 2px 10px;
  color: rgb(5, 2, 0);
  opacity: 0.7;
}
