body {
}

.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  grid-template-rows: auto;
  justify-items: center;
  background-color: rgb(20, 10, 10);
}
header {
  text-align: center;
  background-color: rgb(20, 10, 10);
  padding: 10px;
  color: white;
}
.box {
  width: 250px;
  height: 200px;
  margin: 5px;
  border: 1px solid yellow;
  position: relative;
}

.tooltip {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
}
.box:hover .tooltip {
  display: block;
  background-color: white;
  padding: 2px 10px;
  color: rgb(5, 2, 0);
  opacity: 0.7;
}

@media screen and (max-width: 1300px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 1100px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 850px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 550px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}
